<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>sounds_bg</key>
    <string>bgMusic.mp3</string>
    <key>Cannon</key>
    <string>Cannon.png</string>
    <key>btn</key>
    <string>btn.png</string>
    <key>closeBtn1</key>
    <string>closeNormal.png</string>
    <key>closeBtn2</key>
    <string>closeSelected.png</string>
    <key>shot_affect</key>
    <string>shot.mp3</string>
    <key>star_frame_delay</key>
    <string>0.1</string>
    <key>star_frame_count</key>
    <string>6</string>
    <key>default_count</key>
    <string>200</string>
    <key>door</key>
    <string>door.png</string>
    <key>GameBg</key>
    <string>GameBg.png</string>
    <key>project1</key>
    <string>project.png</string>
    <key>project2</key>
    <string>project1.png</string>
    <key>Bullet</key>
    <string>Bullet.png</string>
    <key>fstar</key>
    <string>fstar.png</string>
    <key>sstar</key>
    <string>sstar.png</string>
    <key>star</key>
    <string>star.png</string>
    <key>triangle</key>
    <string>tri.png</string>
    <key>rect</key>
    <string>rect.png</string>
    <key>resume</key>
    <string>继续游戏</string>
    <key>onMusic</key>
    <string>打开音乐</string>
    <key>offMusic</key>
    <string>关闭音乐</string>
    <key>closeGame</key>
    <string>返回主菜单</string>
    <key>progress1</key>
    <string>progress1.png</string>
    <key>progress2</key>
    <string>progress2.png</string>
    <key>BeginBg</key>
    <string>beginBg.png</string>
    <key>starBtn</key>
    <string>starBtn.png</string>
    <key>closeMusic</key>
    <string>closeMusicBtn.png</string>
    <key>openMusic</key>
    <string>openMusicBtn.png</string>
    <key>resumeGame</key>
    <string>resumeGame.png</string>
    <key>saveGame</key>
    <string>saveGame.png</string>
    <key>saveGame1</key>
    <string>saveGame1.png</string>
    <key>glodText</key>
    <string>金币数:</string>
    <key>scoreText</key>
    <string>得分数:</string>
    <key>levelText</key>
    <string>关卡:</string>
    <key>heart</key>
    <string>heart.png</string>
    <key>GameName</key>
    <string>守卫炮台</string>
    <key>BossHat</key>
    <string>BossHat.png</string>
    <key>BossCard</key>
    <string>BossCard.png</string>
    <key>BossCattleHead</key>
    <string>BossCattleHead.png</string>
    <key>hat</key>
    <string>hat.png</string>
    <key>cattleHead</key>
    <string>CattleHead.png</string>
    <key>addAttack</key>
    <string>addAttack.png</string>
    <key>addAttack1</key>
    <string>addAttack1.png</string>
    <key>addVelocity</key>
    <string>addVelocity.png</string>
    <key>addVelocity1</key>
    <string>addVelocity1.png</string>
    <key>transit</key>
    <string>Transit.png</string>
    <key>gameOver</key>
    <string>GameOver.png</string>
    <key>end</key>
    <string>end.png</string>
    <key>Endless</key>
    <string>EndlessBtn.png</string>
  </dict>
</plist>